    body {
        background-color: #494949;
        border: auto;
        padding: 10%;
    }
    
    div {
        border-radius: 10px;
        background-color: red;
        width: 250px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .name {
        background-color: white;
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 50px;
    }

    .hello {
        font-size: 36px;
        font-weight: bolder;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
