body {
    background-color: #494949;
    max-width: 500px;
    max-height: 300px;
    margin: auto;
    
}

div {
    background-color: red;
    border-radius: 10px;
    width: 220px;
    height: 155px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 50%;

}

.name {
    background-color: white;
    color: black;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 12px;
} 

.hello {
    font-size: 36px;
    font-weight:bold;       
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}    